

#movies-container {
    background-color: #f9fafc;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#movies-container div {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#movies-container img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

#movies-container a {
    color: #0056b3;
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
}

#movies-container a:hover {
    color: #003b82;
}


#movies-container div:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


body {
    background-color: #eaeef3;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;  /* pour coller les couleurs au bords*/
    padding: 0; /* pour coller les couleurs au bords*/
}


header {
    background-color: #007BFF;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

header a:hover {
    color: #f4f4f9;
}


#search-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 500px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-form label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

#search-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#search-form button {
    background-color: #007BFF;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-form button:hover {
    background-color: #0056b3;
}
